<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                {% block title %}
                <title>
                Blake Russell
                </title>
                {% endblock %}
                {% load static %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
                <link rel="stylesheet" href="{% static 'css/base.css' %}">
                <link rel="stylesheet" href="{% static 'css/style.css' %}">
                <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
                <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script type="text/javascript">
                        function getDocHeight(doc) {
                                doc = doc || document;
                                // stackoverflow.com/questions/1145850/
                                var body = doc.body, html = doc.documentElement;
                                var height = Math.max( body.scrollHeight, body.offsetHeight, 
                                        html.clientHeight, html.scrollHeight, html.offsetHeight );
                                return height;
                        }
                        function getDocWidth(doc) {
                                doc = doc || document;
                                // stackoverflow.com/questions/1145850/
                                var body = doc.body, html = doc.documentElement;
                                var width = Math.max( body.scrollWidth, body.offsetWidth,
                                        html.clientWidth, html.scrollWidth, html.offsetWidth );
                                return width;
                        }
                        function setIframeSize(id) {
                                var ifrm = document.getElementById(id);
                                var doc = ifrm.contentDocument? ifrm.contentDocument: 
                                        ifrm.contentWindow.document;
                                ifrm.style.visibility = 'hidden';
                                ifrm.style.height = "10px"; // reset to minimal height ...
                                ifrm.style.width = "10px"; // reset to minimal width ...
                                // IE opt. for bing/msn needs a bit added or scrollbar appears
                                ifrm.style.height = getDocHeight( doc ) + 4 + "px";
                                ifrm.style.width = getDocWidth( doc ) + 4 + "px";
                                ifrm.style.visibility = 'visible';
                        }
                </script>
        </head>
        <body>
                {% block content %}
                {% endblock %}
        </body>
</html>
